.recipe-gen-box {
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: inset 0px 0px 0px 2px #9d9d9d;
    border-radius: 5px;
    padding: 8px;
    font-family: Lato;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.recipe-img-box {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: inset 0px 0px 0px 2px #9d9d9d;
    border-radius: 5px;
    padding: 8px;
    font-family: Lato;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.blur-border {
    border: 2px solid #5252526b;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000042;
}

.generate-blur {
    filter: blur(7px);
    padding: 10px;
}

.gen-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all .5s ease;
}

.gen-outer {
    display: flex;
    position: relative;
    width: 100%;
    transition: all .5s ease;
}

.anim-icon {
    aspect-ratio: 1 / 1;
    width: 30px;
    height: 30px;
}

.gen-btn {
    transform: translateY(0);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 200px;
    align-self: center;
    margin-top: 10px;
}

.generating-popup {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    align-items: center;
    gap: 10px;
    filter: opacity(0);
    transition: all .5s ease;
}

.popup-animated {
    filter: opacity(1);
}

.generating-popup h3 {
    margin: 0;
}

.gen-inner h2 {
    margin: 0 0 6px 0;
}

.gen-inner h3 {
    margin: 0;
}