.setting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(255 255 255 / 16%);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--main-border-color);
}

.setting div {
  gap: 10px;
}

.setting h3 {
  margin: 0
}

.flex-row input[type="checkbox" i] {
  display: flex;
  aspect-ratio: 1;
  height: 100%;
  margin: 0;
}

.settingsList {
  gap: 7px;
  display: flex;
  flex-direction: column;
}