html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  background: linear-gradient(#ff7a7a73, #ffbd40),
    linear-gradient(to top left, #e8ceff, transparent),
    linear-gradient(to top right, #ff92004d, transparent);
  color: var(--main-text);
  display: flex;
  height: 100vh;
  background-blend-mode: screen;
  user-select: none;
  /* backdrop-filter: hue-rotate(270deg) */
  backdrop-filter: saturate(.5);
  /* background-blend-mode: soft-light; */
}

.main-content {
  flex: 1;
  padding: 1rem;
  align-content: center;
}

.calendar {
  border: 1px solid var(--calendar-border);
  padding: 1rem;
  border-radius: 8px;
  /* max-width: 60vw; */
  margin: 0 auto;
  align-self: center;
  width: fit-content;
  background-color: var(--calendar-bg);
  box-shadow: 2px 12px 20px 0px #868686;
}

.main-content h3 {
  text-align: center;
  color: var(--main-text);
  font-size: 2.5rem;
  margin: 26px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  width: 110px;
  height: 100px;
  text-align: left;
  vertical-align: top;
  border: 1px solid var(--calendar-border);
  border-radius: 4px;
  font-family: Lato;
  font-size: 1.2rem;
  padding: 6px;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInSlide 0.5s forwards;
  min-width: 100px;
  min-height: 200px;
}

.weekdays th {
  border: 1px solid var(--calendar-border-top);
  border-radius: 0%;
  border-left: none;
  border-right: none;
}

td .day-number {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--main-text);
  position: absolute;
  top: 4px;
  left: 6px;
}

.day-blank,
.day-lbl {
  background: var(--calendar-blank);
  border: none;
  border-radius: 0px;
}

.weekdays th {
  background-color: var(--calendar-top);
  border-radius: 0;
  /* border: none; */
  z-index: 15;
}

.weekdays {
  box-shadow: 1px 5px 12px 3px #b6b6b6;
  z-index: 15;
  position: relative;
  background-color: var(--calendar-top);
}

.weekdays div {
  justify-self: center;
  align-self: center;
  display: flex;
  top: 35%;
  position: relative;
  font-size: 24px;
}

.day-blank {
  z-index: inherit
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title ion-icon {
  margin: 0;
  width: 2rem;
  height: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.title ion-icon:hover {
  height: 2rem;
  opacity: 1;
}

.title {
  margin: 20px;
}

#monthName {
  width: 200px;
  margin: 0;
}

.year {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.today {
  background-color: var(--calendar-today);
}

.star {
  display: flex;
  justify-content: right;
}

.star {
  position: fixed;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  aspect-ratio: 1;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4e4e4e;
}

.dayActionBtn {
  width: 25px;
  height: 25px;
  border-radius: 5px;

  opacity: 0;
  position: fixed;
  left: 100%;
  top: 100%;
  z-index: 201;
  border: 1px solid var(--main-border-color);
  transform: translateX(-30px) translateY(-30px) rotate(20deg);
  transition: all .3s ease-out;
  box-sizing: border-box;
  cursor: default;
  display: none;
  background-color: var(--calendar-bg);
}

.importIcon.visible {
  display: block;
  opacity: 1;
  transform: translateX(-58px) translateY(-30px);
}

.note.visible {
  display: block;
  opacity: 1;
  transform: translateX(-30px) translateY(-30px);
}

.note:hover {
  cursor: pointer;
  transform: translateX(-30px) translateY(-32px);
}

.importIcon:hover {
  cursor: pointer;
  transform: translateX(-58px) translateY(-32px);
}

.dayActionBtn ion-icon {
  position: relative;
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes chevronAnim {
  to {
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
  }
}