.logo-img {
  aspect-ratio: 1;
  width: 50px;
}

.logoTitle div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.logoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoTitle h4 {
  margin: 0;
}

.logoTitle h1 {
  margin: 0;
}

.main-content {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  border: 0px solid #ffffff00;
  gap: 5px;
  transition: all 0.5s;
}

.link:hover {
  padding: 5px 15px;
  border: 1px solid var(--main-border-color);
}

.footer h4 {
  margin: 0;
}