.qr-frame {
    position: fixed;
    background-color: rgb(230, 230, 230);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    z-index: 500;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.534);
    aspect-ratio: 1;
    width: 30vh;
    justify-items: center;
    transition: all .3s;
    opacity: 0;
    z-index: 0;
}

.qr-frame.visible {
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 100;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
}

.qr-frame img {
    width: 100%;
    height: 100%;
}

.qr-frame h3 {
    margin: 5px;
    font-size: 25px;
}

.qr-frame h4 {
    margin: 0;
}

.qr-frame ion-icon {
    position: fixed;
    top: 0%;
    left: 100%;
    transform: translate(-110%, 10%);
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.qr-container {
    padding: 5%;
    padding-bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.qr-container img {
    border-radius: 10px;
    box-shadow: 0 0 15px #00000029;
}