:root {
  --main-bg: #d1d1d199;
  --main-text: #4d2828;
  --text-dark: #2e1818;

  --main-color: #fff0da85;
  --main-color-shadow: #868686bd;
  --main-border-color: #7a5454;
  --accent-color: #525252;
  --sidebar-bg: #f4f4f465;
  --calendar-bg: #ffffff;
  --calendar-today: #fffbda85;
  --calendar-border: #dddddd;
  --calendar-border-top: #dddddd;
  --event-color: #f3f3f3;
  --calendar-top: #dfdfdf;
  --calendar-blank: #ebebeb;
  --calendar-top-dropshadow: #b6b6b6;
  --flag: #f4f4f465;

  --dropshadow: #00000061;
  --sidebar-shadow: #1a1a1a73;
}

.ionicon {
  stroke: var(--main-text);
}